@forward 'globals';
@forward 'cards';
@forward 'curved';
@forward  'colors';
@forward 'grid';
@forward 'footer';
section{
    margin-top: 1rem;
}
.service-links{
    a{
        text-decoration: none;
        margin-right: 1rem;
    }
}